- if user_signed_in?
  %p#intro
    Hello
    = current_user.name
    %br/
    %span
      Share your inspiration and see what's inspiring others.
- else
  %p#intro
    What's your muse?
    %br/
    %span
      Share your inspiration and see what's inspiring others.

#posts
  - @posts.each do |post|
    .post
      .post_image
        = link_to (image_tag post.image.url(:small)), post
      .post_content
        .title
          %h2= link_to post.title, post
        .data.clearfix
          %p.username
            Shared By
            = post.user.name
          %p.buttons
            %span
              %i.fa.fa-comments-o
              = post.comments.count
            %span
              %i.fa.fa-thumbs-o-up
              = post.get_likes.size
