!!!
%html
%head
	%title Muse
	= stylesheet_link_tag    'application', media: 'all'
	= javascript_include_tag 'application'
	%link{:rel => "stylesheet", :href => "http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}
	%link{:rel => "stylesheet", :href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}
	= csrf_meta_tags
%body
	%header
		.wrapper.clearfix
			#logo= link_to "Muse", root_path
			%nav
				- if user_signed_in?
					= image_tag(current_user.avatar.url(:thumb))
					= link_to current_user.name, edit_user_registration_path
					= link_to "Add New Inspiration", new_post_path, class: "button"
					= link_to "Log out", destroy_user_session_path, method: "delete", class: "fa fa-sign-out fa-4"
				- else
					= link_to "Sign in", new_user_session_path
					= link_to "Sign Up", new_user_registration_path, class: "button"
	%p.notice= notice
	%p.alert= alert
	.wrapper
		= yield
